.infoDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20rem;
	margin: 0 auto 0 auto;
	background-color: #d7dfe7;
	/* background-color: #61ce70; */
	/* background-image: url('./assets/Rectangle.png'); */
	/* border-radius: 1rem; */
}
.infoDiv img {
	border-radius: 1rem;
	background-color: #d7dfe7;
}
.infoText {
	text-color: #1c2630;
	margin: 0 auto 0 auto;
	background-color: #d7dfe7;
}
.infoText h2 {
	color: #202b36;
	background-color: #d7dfe7;
}
.infoText h4 {
	color: #202b36;
	background-color: #d7dfe7;
}
