.bioContainerDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 33rem;
	margin: 2rem auto 0 auto;
	background-image: url('../../assets/backStar.png');
}
.h2Div {
	background-image: url('../../assets/backStar.png');
	width: 80%;
	height: max-content;
	margin: -1rem 28rem 0 10rem;
}
.h2Div h2 {
	margin: 0 auto -0.5rem 10rem;
	color: #d7dfe7;
	background-image: url('../../assets/backStar.png');
	width: 80%;
}
.cardsSDiv {
	background-color: no-repeat;
	width: 80%;
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: -1.5rem auto 0 10rem;
	gap: 0.2rem;
	background-image: url('../../assets/backStar.png');
}
.cardsSDiv img,
a {
	height: 1rem;
}
.bioSDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 0.5rem;
	width: 16rem;
	height: 25rem;
	background-color: #1c2630;
	border-radius: 1rem;
	border: 1px solid;
	border-color: #81c8f7;
	background-color: #1c2630;
}
.bioSDiv img {
	color: #d7dfe7;
	width: 5rem;
	height: 5rem;
	border-radius: 0.6rem;
	margin-top: 1rem;
	margin-bottom: 1.6rem;
}
.bioSDiv p {
	color: #d7dfe7;
	font-size: 0.85rem;
	height: 20rem;
	background-color: #1c2630;
}
.bioSDiv h3 {
	color: #81c8f7;
	margin-bottom: 1rem;
	background-color: #1c2630;
}
.bioSDiv a {
	color: #81c8f7;
	margin-bottom: 1rem;
	background-color: #1c2630;
}
@media screen and (max-width: 480px) {
	.bioContainerDiv {
		width: 190%;
		height: 35rem;
	}
	.h2Div {
		background-image: url('../../assets/backStar.png');
		width: 80%;
		height: max-content;
		margin: -1rem 28rem 0 10rem;
	}
	.h2Div h2 {
		margin: -0.5rem auto -0.5rem 5rem;
	}
	.cardsSDiv {
		width: 99%;
		height: max-content;
		display: flex;
		margin: -1.5rem auto 0 0;
	}
	.bioSDiv {
		width: 15rem;
		height: 28rem;
	}
	.bioSDiv img {
		color: #d7dfe7;
		width: 4.5rem;
		height: 4.5rem;
		margin-top: 0.5rem;
		margin-bottom: 1.6rem;
	}
	.bioSDiv h3 {
		margin-bottom: 0.7rem;
		margin-top: -1.2rem;
	}
}
