.navbarDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-top: 1.5rem;
	width: 100%;
	height: 5.5rem;
	border-bottom: 0.1rem solid #81c8f7;
	position: fixed;
	margin-top: -2.1rem;
}
.navbarDiv p {
	font-size: 1.1rem;
	--s: 0.1em; /* the thickness of the line */
	--c: #4a5759; /* the color */
	color: #e1e1e6;
	padding-bottom: var(--s);
	background: linear-gradient(90deg, var(--c) 50%, #000 0)
			calc(100% - var(--_p, 0%)) / 200% 100%,
		linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
	-webkit-background-clip: text, padding-box;
	background-clip: text, padding-box;
	transition: 0.5s;
	cursor: pointer;
}
.navbarDiv p:hover {
	--_p: 100%;
	--_s: 0.3s;
}
.navbarDiv img {
	height: 5rem;
	margin: 2.2rem 40rem 0 6rem;
	background: no-repeat;
}

@media (max-width: 480px) {
	.navbarDiv {
		padding-top: 2.8rem;
		height: 4.8rem;
		/* width: calc(100% - 100px); */
	}
	.navbarDiv img {
		/* height: 5rem; */
		margin: 1.4rem 2rem 0 1rem;
	}
}
