* {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	background: #202b36;
}
.cardDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 36rem;
	margin: 0 auto 0 auto;
}
.h2Agenda {
	color: #89d0ff;
	margin: 1.2rem auto -1.5rem auto;
	padding: 0 0 0 10rem;
}
@media screen and (max-width: 480px) {
	.cardDiv {
		margin: 0 0.1rem 0 -0.9rem;
	}
	.h2Agenda {
		/* color: #89d0ff; */
		margin: 1.2rem auto -1.5rem auto;
		padding: 0 0 0 1.9rem;
	}
}
