* {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	background: #202b36;
}
.cardMDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 20rem;
	height: 50rem;
	border: 0.1rem solid red;
	border-radius: 5px;
}
