* {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	background: #202b36;
}
.cardDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 79%;
	height: 35rem;
	margin: 0 auto 0 auto;
	/* background-color: purple; */
}
.infoDiv {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	height: 25rem;
	margin: 0 auto 0 auto;
	/* background-color: #61ce70; */
	background-image: url('./assets/Rectangle.png');
	border-radius: 1rem;
}
